{% extends "bootstrap/base.html" %}

{% block title %} Raspberry Camera for Data Aquisition {% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

<script>
  function toggleVideo() {
    var img = document.getElementById("container")
    if (img.src.includes('image')) {
      img.src = "{{ url_for('video_feed') }}";
      //img.style = 'height: 100%; width: 100%; object-fit: cover' 
      //img.style = '-webkit-user-select: none;margin: auto;'
    }
    else {
      take_picture()
    }
  }

  function exif_picture(imgx) {
    delete imgx['exifdata']
    EXIF.getData(imgx, function () {
      var allMetaData = EXIF.getAllTags(this);
      delete allMetaData['MakerNote']
      delete allMetaData['thumbnail']
      $("#allMetaDataSpan").text(JSON.stringify(allMetaData, null, "\t"))
    });
  }

  var img = document.getElementById('container');
  img.onload = function () {
    if (img.src.includes('image')) {
      exif_picture(img);
    }
  }

  function take_picture() {

    var e = document.getElementById("ddlMode");
    var f = document.getElementById("ddlISO");
    var g = document.getElementById("ddlResolution");
    var h = document.getElementById("ddlJPEG");
    var pic_args = 'ddlMode=' + e.value + '&ddlISO=' + f.value + '&ddlResolution=' + g.value + '&ddlJPEG=' + h.value  

    $.get("/api/v1/resources/takepicture", pic_args, function (data) {
      // when picture in buffer load
      $("#container").attr("src", 'images/' + data);
      $("#webservice_return").text(data)

    });
  }

  function show_last_picture() {
    $.get("/api/v1/resources/lastpicture", function (data) {
      $("#container").attr("src", 'images/' + data);
      $("#webservice_return").text(data)
    });
  }


</script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

<header>
  <h2>Video and Images from Raspberry Pi</h2>
</header>

<section>
  <nav>
    <ul>
      <button style="width:100%;background-color: #4CAF50;" onclick="toggleVideo()">Show Live Stream</button>
      <button style="width:100%;background-color: #4CAF50;" onclick="take_picture()">Take Picture</button>
      <button style="width:100%;background-color: #4CAF50;" onclick="show_last_picture()">Show Last Picture</button>
      Resolution<SELECT name="resolution" id="ddlResolution">
        {% for c in resolutionList %}
        <OPTION value={{c.name}}>{{c.name}}</option>
        {% endfor %}
      </SELECT><br>
      Mode<SELECT name="mode" id="ddlMode">
        {% for c in modeList %}
        <OPTION value={{c.name}}>{{c.name}}</option>
        {% endfor %}
      </SELECT><br>
      ISO<SELECT name="iso" id="ddlISO">
        {% for c in isoList %}
        <OPTION value={{c.name}}>{{c.name}}</option>
        {% endfor %}
      </SELECT><br>
      JPEG Quality<SELECT name="jpeg" id="ddlJPEG">
        {% for c in jpegqualityList %}
        <OPTION value={{c.name}}>{{c.name}}</option>
        {% endfor %}
      </SELECT><br>
      Frame Number <p id="webservice_return"></p>
      EXIf Data <p id="allMetaDataSpan"></p>
    </ul>
  </nav>

  <article>
    <img id="container" style='max-width:100%; max-height:100%; width:auto; height:auto;'
      src="{{ url_for('static', filename='image.jpeg') }}">
  </article>
</section>
<footer>
  <p>Simple Image Capture to Cloud Storage to Support AI Projects</p>
</footer>
{% endblock %}