{% extends "bootstrap/base.html" %}

{% block title %} Raspberry Camera for Data Aquisition {% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

<script>

  function get_pic_args() {
    var m = document.getElementById("ddlMethod");
    var e = document.getElementById("ddlMode");
    var f = document.getElementById("ddlISO");
    var g = document.getElementById("ddlResolution");
    var h = document.getElementById("ddlJPEG");
    var pic_args = 'ddlMode=' + e.value + '&ddlISO=' + f.value 
      + '&ddlResolution=' + g.value + '&ddlJPEG=' + h.value
      + '&ddlMethod=' + m.value
    return pic_args
  }

  function toggleVideo() {
    var img = document.getElementById("container")
    if (img.src.includes('image')) {
      $("#status").text("showing video")
      img.src = "{{ url_for('video_feed') }}";
      //img.style = 'height: 100%; width: 100%; object-fit: cover' 
      //img.style = '-webkit-user-select: none;margin: auto;'
    }
    else {
      take_picture()
    }
  }

  function saveConfig() {

    $.get("/api/v1/resources/saveconfig", get_pic_args(), function (data) {
      // when picture in buffer load
      $("#status").text(data)
    });
  }

  function exif_picture(imgx) {
    delete imgx['exifdata']
    EXIF.getData(imgx, function () {
      var allMetaData = EXIF.getAllTags(this);
      delete allMetaData['MakerNote']
      delete allMetaData['thumbnail']
      $("#allMetaDataSpan").text(JSON.stringify(allMetaData, null, "\t"))
    });
  }

  var img = document.getElementById('container');
  img.onload = function () {
    if (img.src.includes('image')) {
      exif_picture(img);
    }
  }

  function take_picture() {

    $.get("/api/v1/resources/takepicture", get_pic_args(), function (data) {
      // when picture in buffer load
      $("#status").text("showing new image")
      $("#container").attr("src", 'images/' + data);
      $("#webservice_return").text(data)

    });
  }

  function show_last_picture() {
    $.get("/api/v1/resources/lastpicture", function (data) {
      $("#status").text("showing last picture")
      $("#container").attr("src", 'images/' + data);
      $("#webservice_return").text(data)
    });
  }


</script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

<header>
  <h2>Video and Images from Raspberry Pi</h2>
</header>

<section>
  <nav>
    <ul>
      <table style="width: 100%;">
        <tr><button style="width:100%;background-color: #4CAF50;" onclick="toggleVideo()">Show Live Stream</button></tr>
        <tr> <button style="width:100%;background-color: #4CAF50;" onclick="take_picture()">Take Event</button></tr>
        <tr><button style="width:100%;background-color: #4CAF50;" onclick="show_last_picture()">Show Last</button></tr>
        <tr><button style="width:100%;background-color: #4CAF50;" onclick="saveConfig()">Save Config</button></tr>
        <tr>
          <td>Action Status</td>
          <td id="status"></td>
        </tr>
        <tr>
          <td style="width: 50%">Method</td>
          <td style="width: 50%"><SELECT name="method" id="ddlMethod">
              {% for c in methodList %}
              <OPTION value={{c.name}}>{{c.name}}</option>
              {% endfor %}
            </SELECT></td>
        </tr>
        <tr>
          <td style="width: 50%">Resolution</td>
          <td style="width: 50%"><SELECT name="resolution" id="ddlResolution">
              {% for c in resolutionList %}
              <OPTION value={{c.name}}>{{c.name}}</option>
              {% endfor %}
            </SELECT></td>
        </tr>
        <tr>
          <td>Mode</td>
          <td><SELECT name="mode" id="ddlMode">
              {% for c in modeList %}
              <OPTION value={{c.name}}>{{c.name}}</option>
              {% endfor %}
            </SELECT></td>
        </tr>
        <tr>
          <td>ISO</td>
          <td><SELECT name="iso" id="ddlISO">
              {% for c in isoList %}
              <OPTION value={{c.name}}>{{c.name}}</option>
              {% endfor %}
            </SELECT></td>
        </tr>
        <tr>
          <td>JPEG Quality</td>
          <td><SELECT name="jpeg" id="ddlJPEG">
              {% for c in jpegqualityList %}
              <OPTION value={{c.name}}>{{c.name}}</option>
              {% endfor %}
            </SELECT></td>
        </tr>
        <tr>
          <td>Frame Number</td>
          <td id="webservice_return"></td>
        </tr>
      </table>
      <table>
        <tr>
          <td>EXIf Data</td>
        </tr>
        <tr>
          <td>
            <p id="allMetaDataSpan"></p>
          </td>
        </tr>
      </table>
    </ul>
  </nav>

  <article>
    <img id="container" style='max-width:100%; max-height:100%; width:auto; height:auto;'
      src="{{ url_for('static', filename='image.jpeg') }}">
  </article>
</section>
<footer>
  <p>Simple Image Capture to Cloud Storage to Support AI Projects</p>
</footer>
{% endblock %}